/* Counter.css */

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color:#FF9A9A;
}

.counter-value {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #fff;
   
}

.counter-buttons {
    display: flex;
    gap: 15px;
}

.counter-button {
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #5F8B4C;
    color: #fff;

}

